<div class="container-fluid" id="version-picker-container">
    <div class="row version-picker-row">
      <div class="col-md-12"><button class="btn btn-lg btn-default btn-block text-left" ui-sref-active="btn-success" ui-sref="v1">Baseline</button></div>
    </div>
    <div class="row version-picker-row">
      <div class="col-md-12"><button class="btn btn-lg btn-default btn-block" ui-sref-active="btn-success" ui-sref="v2">Baseline + Concept graph</button></div>
    </div>
    <div class="row version-picker-row">
      <div class="col-md-12"><button class="btn btn-lg btn-default btn-block text-left" ui-sref-active="btn-success" ui-sref="v3">Baseline + Concept graph + Hypothesis tracker</button></div>
    </div>
</div>