<div id="main-header" class="row">
  <div class="col-md-2" style="margin-top:6px;margin-bottom:6px">
    <span style="font-size:18px; cursor:pointer" ui-sref="v2">ThoughtFlow<sup>alpha</sup></span>
  </div>
  <div class="col-md-10 text-right" style="margin-top:4px;">
    <span class="main-header-text">User ID: </span>
    <span style="font-weight:lighter;padding-right:15px;">{{userId}}</span>
    <span class="main-header-text">Document collection: </span>
    <span style="font-weight:lighter">{{collection.name}}</span>
    <button class="btn btn-default" ui-sref="v2.focus({userId: userId, collectionId: collection.id})" style="margin-left:30px">Write</button>
  </div>
</div>

<div class="center row v2" id="explore">
  <div class="loading" ng-if="loadingEvidence">
    <div class="loader-container">
      <div class="loader"></div>
      <div class="loading-text"><p>{{loadingStatement}}</p></div>
    </div>
  </div>

  <div class="row" id="options" style="margin:20px 20px 20px 50px">
    <div class="col-md-2">
      <span>Search for term: </span>
      <ui-select ng-model="selected.searchTerm" on-select="selectSearchTerm($item)">
          <ui-select-match>
              <span ng-bind="$select.selected.term"></span>
          </ui-select-match>
          <ui-select-choices repeat="t in (terms | filter: $select.search | limitTo: 100) track by t.origIndex">
              <span ng-bind="t.term"></span>
          </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-5">
      <span>Search for paper: </span>
      <div class="row">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTitle">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="searchEvidenceByTitle()">Search</button>
            </span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row" style="margin-top:20px;">
        <ui-select ng-model="selected.searchTitle" on-select="selectSearchTitle($item)">
            <ui-select-match placeholder="Use the search to the left to get a list of relevant titles">
                <span ng-bind="$select.selected.title"></span>
            </ui-select-match>
            <ui-select-choices repeat="t in (candidateEvidence | filter: $select.search) track by t.id">
                <span ng-bind="t.title"></span>
            </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div id="vis">
    <div id="headers" class="row" style="width:760px;margin:30px 0px 0px 75px;">
      <h4 class="col-md-6">Terms ({{numTerms}} total)</h4>
      <h4 class="col-md-6">Topics ({{numTopics}} total)</h4>
    </div>
    <div class="control">
      <button uib-tooltip="Scroll term list down" tooltip-placement="top" tooltip-trigger="mouseenter"
        class="btn btn-default btn-xs" ng-click="showNextTerms()"><img class="btn-img-default" src="/static/img/caret-down-icon.png"></button>
      <button uib-tooltip="Scroll term list up" tooltip-placement="top" tooltip-trigger="mouseenter"
        class="btn btn-default btn-xs" ng-click="showPrevTerms()"><img class="btn-img-default" src="/static/img/caret-up-icon.png"></button>
      <button uib-tooltip="Clear selected terms" tooltip-placement="top" tooltip-trigger="mouseenter"
        class="btn btn-default btn-xs" ng-click="clearSelectedTerms()"><img class="btn-img-default" src="/static/img/eraser-icon.png"></button>
      <button uib-tooltip="Reorder based on selected terms" tooltip-placement="top" tooltip-trigger="mouseenter"
        class="btn btn-default btn-xs" ng-click="updateTermTopicOrdering(true, true)"><img class="btn-img-default" src="/static/img/shuffle-icon.png"></button>
    </div>
    <svg id="topic-term-dist" style="width:1850px;height:700x;">
      <svg id="thumbnail-sidebar" paper-thumbnail-sidebar-directive></svg>
    </svg>
    <div id="proposal-thumbnail" style="width:600px;height:580px;position:absolute;top:280px;left:1150px;">
      <div id="selected-thumbnail" style="width:400px;height:580px;overflow-y:auto;" paper-thumbnail-directive></div>
    </div>
    <div class="control">
      <p style="margin:10px 0 10px 5px;font-size:16px"><span style="font-variant:small-caps">Selected topic:</span> <span style="padding:3px;" ng-repeat="t in selectedTopic.terms | limitTo:10" id="topic-term-$index" class="selected-topic-term" ng-class="{dark:$index%2==0,active:hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="selectTermToFilterDocuments(t.term, $index)">    {{t.term}}   </span><span style="font-size:12px;font-weight:500">(# of documents: {{selectedTopic.evidenceCount}})</span></p>
    </div>
  </div>

  <div id="evidence-col container" style="width:95%;margin-left:50px">
    <div class="loading" ng-if="loadingTopicEvidence">
      <div class="loader-container">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>
    <uib-tabset>
      <uib-tab heading="Documents with the selected topic" active="true">    
        <div class="panel panel-default">
          <div class="panel-body body">
            <div class="row">
              <div class="col-md-6" id="documents">
                <div ng-if="selectedTopic===null" style="margin-top:170px">
                  <p class="text-center" ><i>Select a topic to view associated documents here.</i></p>
                </div>
                <div>
                  <div class="animate-repeat document-entry row evidence" ng-repeat="e in evidence" ng-class="{active: hover || e.id == selectedEvidence.id, bookmarked: e.bookmarked}" id="evidence-{{$index}}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="selectEvidence(e)">
                    <div class="col-md-9">
                      <p>
                        <span ng-switch on="e.bookmarked">
                          <img ng-switch-when="false" class="btn-img-default" src="/static/img/bookmark-no-icon.png" 
                            uib-tooltip="Not bookmarked" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="flipBookmark(e, 'selected topic')" style="cursor:pointer;"/>
                          <img ng-switch-when="true" class="btn-img-default" src="/static/img/bookmark-yes-icon.png"
                            uib-tooltip="Bookmarked" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="flipBookmark(e, 'selected topic')" style="cursor:pointer;"/>
                        </span>                    
    <!--                    <input type="checkbox" ng-model="e.bookmarked" ng-click="updateBookmark(e)"> -->
                        <span style="font-weight:300"> {{e.title}}</span>
                      </p>
                    </div>
                    <div class="col-md-2">
                       <svg id="doc-decorator-$index" class="doc-decorator" style="width:100px;height:30px;"></svg>
                    </div>
                    <div class="col-md-1">
                      <img class="btn-img-default" ng-if="selectedEvidence.id===e.id && userService.selectedParagraph()!==-1" src="/static/img/link-icon.svg"
                      uib-tooltip="Cite" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="citeEvidence(e, 'topic')"
                      style="cursor:pointer; cursor:hand;"/>
                    </div>
    <!--                <div class="col-md-1">
                       <div ng-if="evidenceSourceMap[e.id] === 1">
                         <img  src="/static/img/link-icon.svg" style="width:15px; height:15px"></img>
                         <span>{{countTextsReferencingEvidence(e)}}</span>
                       </div>
                       <div ng-if="evidenceSourceMap[e.id] === 0"><span class="label label-default">Search result</span></div> 
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6" id="details">
                <div ng-if="selectedEvidence===null" style="margin-top:170px">
                  <p class="text-center" ><i>Select a document to view its metadata here.</i></p>
                </div>
                <div ng-if="selectedEvidence!==null">
                  <div class="row" style="margin:10px">
                    <button class="btn btn-default btn-xs col-md-12" ng-class="{'btn-success': showCitingTexts}" ng-disabled="associationInactive('evidence')" ng-click="toggleShowCitingTexts()">Who cited me?</button>
                  </div>
                  <p>
                    <b><span class="small-cap-text">Authors</span></b>: 
                    <span class="thin-text">{{selectedEvidence.metadata.AUTHOR}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Affiliation</span></b>: 
                    <span class="thin-text">{{selectedEvidence.metadata.AFFILIATION}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Publication date</span></b>: 
                    <span class="thin-text">{{selectedEvidence.metadata.DATE}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Journal</span></b>: 
                    <span class="thin-text">{{selectedEvidence.metadata.JOURNAL}}</span>
                  </p>
                  <p
                  ><b><span class="small-cap-text">Abstract</span></b>:</p>
                  <span style="font-size:13px" ng-repeat="w in selectedWords track by $index" ng-class="{'is-topic-term': isTopicTerm(w)}">{{w}} </span>
                </div>
              </div>
            </div>
          </div>
    <!--      <div class="panel-footer">
            <div class="btn-group btn-group-sm" role="group">
              <button class="btn btn-primary" ng-disabled="selectedEvidence===null" ng-click="bookmarkEvidence(selectedEvidence)" title="Bookmark this publication">Bookmark</button>
              <button class="btn btn-danger" ng-disabled="selectedEvidence===null" ng-click="deleteEntry('evidence')">Delete</button>
            </div>
          </div> -->
        </div>
      </uib-tab>
      <uib-tab>  
        <uib-tab-heading>
          <span>Citations / References of the selected document</span>
          <span class="label label-pill label-default" uib-tooltip="bookmarked / total # of documents" tooltip-placement="top" tooltip-trigger="mouseenter">{{selectedEvidenceCounts.relatedBookmarked}}/{{selectedEvidenceCounts.relatedTotal}}</span>
        </uib-tab-heading>
        <div class="panel panel-default">
          <div class="panel-body body">
            <div class="row">
              <div class="col-md-6" id="documents">
                <div ng-if="selectedEvidence===null" style="margin-top:170px">
                  <p class="text-center" ><i>Select a document to view its references and citations here.</i></p>
                </div>
                <div ng-if="relatedEvidence.length===0" style="margin-top:170px">
                  <p class="text-center" ><i>No references or citations available for the selected evidence.</i></p>
                </div>
                <div>
                  <div class="animate-repeat document-entry row" ng-repeat="e in relatedEvidence" ng-class="{active: hover || e.evidence.id == selectedRelatedEvidence.id, bookmarked: e.evidence.bookmarked}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="selectRelatedEvidence(e.evidence)">
                    <div class="col-md-9">
                      <p>
                        <span ng-switch on="e.evidence.bookmarked">
                          <img ng-switch-when="false" class="btn-img-default" src="/static/img/bookmark-no-icon.png" 
                            uib-tooltip="Not bookmarked" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="flipBookmark(e.evidence, 'selected document')" style="cursor:pointer;"/>
                          <img ng-switch-when="true" class="btn-img-default" src="/static/img/bookmark-yes-icon.png"
                            uib-tooltip="Bookmarked" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="flipBookmark(e.evidence, 'selected document')" style="cursor:pointer;"/>
                        </span>                    
                        <span style="font-weight:300"> {{e.evidence.title}}</span>
                      </p>
                    </div>
                    <div class="col-md-2">
                      <span ng-switch on="e.relation">
                        <span class="label label-success" ng-switch-when="citation">citation</span>
                        <span class="label label-info" ng-switch-when="reference">reference</span>
                      </span>                        
                    </div>
                    <div class="col-md-1">
                      <img class="btn-img-default" ng-if="selectedRelatedEvidence.id===e.evidence.id && User.selectedParagraph()!==-1" src="/static/img/link-icon.svg"
                      uib-tooltip="Cite" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="citeEvidence(e.evidence, 'topic')"
                      style="cursor:pointer; cursor:hand;"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" id="details">
                <div ng-if="selectedRelatedEvidence===null" style="margin-top:170px">
                  <p class="text-center" ><i>Select a document to view its metadata here.</i></p>
                </div>
                <div ng-if="selectedRelatedEvidence!==null">
                  <div class="row" style="margin:10px">
                    <button class="btn btn-default btn-xs col-md-12" ng-class="{'btn-success': showCitingTexts}" ng-disabled="associationInactive('evidence')" ng-click="toggleShowCitingTexts()">Who cited me?</button>
                  </div>
                  <p>
                    <b><span class="small-cap-text">Authors</span></b>: 
                    <span class="thin-text">{{selectedRelatedEvidence.metadata.AUTHOR}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Affiliation</span></b>: 
                    <span class="thin-text">{{selectedRelatedEvidence.metadata.AFFILIATION}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Publication date</span></b>: 
                    <span class="thin-text">{{selectedRelatedEvidence.metadata.DATE}}</span>
                  </p>
                  <p>
                    <b><span class="small-cap-text">Journal</span></b>: 
                    <span class="thin-text">{{selectedRelatedEvidence.metadata.JOURNAL}}</span>
                  </p>
                  <p
                  ><b><span class="small-cap-text">Abstract</span></b>:</p>
                  <span style="font-size:13px" ng-repeat="w in selectedWords track by $index">{{w}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>