<div id="main-header" class="row">
  <div class="col-md-2" style="margin-top:6px;margin-bottom:6px">
    <span style="font-size:18px; cursor:pointer" ui-sref="v2">ThoughtFlow<sup>alpha</sup></span>
  </div>
  <div class="col-md-10 text-right" style="margin-top:4px;">
    <span class="main-header-text">User ID: </span>
    <span style="font-weight:lighter;padding-right:15px;">{{userId}}</span>
    <span class="main-header-text">Document collection: </span>
    <span style="font-weight:lighter">{{collectionName}}</span>
    <button class="btn btn-default" ui-sref="v2.explore({userId: userId, collectionId: collectionId})" style="margin-left:30px">Explore</button>
  </div>
</div>

<div class="row v2" id="focus" style="height:900px;padding:15px">
  <div class="col-md-2" id="argument-list" style="border-bottom: solid 1px #ccc;height:1014px;overflow-y:auto">
    <h4>Proposals</h4>
    <table class="table">
      <tr ng-repeat="t in texts" ng-class="{active: hover || t.id == selectedText.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <td ng-click="selectText(t)">
          <p>{{t.title}}</p>
          <svg class="topic-info" id="topic-info-{{t.id}}" width="150" height="25"></svg>
          <div ng-if="selectedText===t" style="margin-left:70%">
            <div class="btn-group btn-group-xs" role="group">
              <a download="{{selectedText.title}}.txt" ng-href="{{proposalUrl}}"><img style="width:20px; height:20px"src="/static/img/download-icon.png"/></a>
              <a ng-click="deleteText()"><img style="width:20px; height:20px"src="/static/img/trash-icon.svg"/></a>
            </div>  
          </div>
        </td>
      </tr>
    </table>
    <div class="btn-group btn-group-xs" role="group">
      <button class="btn btn-default" ng-click="addTextEntry()"><img style="width:20px; height:20px"src="/static/img/plus-icon.png">Add new proposal</button>
    </div>
  </div>
  <div class="col-md-7" style="border-left:solid 1px #ccc;border-bottom: solid 1px #ccc;height:1014px;overflow-y:auto">
    <div>
      <h4 style="display:inline-block">{{selectedText.title}}</h4>
      <div style="display:inline-block;margin-left:40px" ng-switch on="savingStatus"
        uib-tooltip="Changes are auto-saved every 5 seconds"
        tooltip-placement="right" tooltip-trigger="mouseenter"
      >
        <div ng-switch-when="saved">
          <button class="btn btn-default btn-xs disabled"><span style="padding:0px 5px 0px 5px">Saved</span></button>
        </div>
        <div ng-switch-when="unsaved">
          <button class="btn btn-primary btn-xs" ng-click="saveText(true)"><span style="padding:0px 5px 0px 5px">Save</span></button>
        </div>
        <div ng-switch-when="saving">
          <button class="btn btn-default btn-xs disabled"><span style="padding:0px 5px 0px 5px">Saving...</span></button>
        </div>
        <div ng-switch-when="failed">
          <button class="btn btn-danger btn-xs disabled"><span style="padding:0px 5px 0px 5px">Error occurred while saving!</span></button>
        </div>
      </div>
    </div>
    <div ng-repeat="p in activeParagraphs">
      <p class="text-paragraph" contenteditable="true" ng-keydown="checkEnter($index, $event)" ng-keyup="hasMadeChanges($index, $event)" ng-click="selectParagraph($index, 'text')" class="activeParagraph" id="ap-{{$index}}" style="outline:0"><span class="thin-text" style="font-size:15px">{{p.text}}</span></p>
      <div style="width:15%;height:150px;display:inline-block;float:right">
        <div>
          <p style="font-size:10px" ng-click="selectParagraph($index, 'topic')">Topic: {{paragraphInformation[$index].topicString}}</p>
          <br/>
          <p style="font-size:10px">Cited: <span ng-repeat="c in paragraphCitation[$index] | orderBy:'index'">[<a ng-click="showCitation(c)">{{c.index+1}}</a>] </span></p>
        </div>
      </div>
      <div style="clear:both"></div>        
    </div>
  </div>
  <div class="col-md-3" style="border-left: solid 1px #ccc;border-bottom: solid 1px #ccc;height:1014px">
    <div class="container" style="width:100%;">
      <div class="row">
        <div class="col-md-7">
          <h4>Citations</h4>
        </div>
        <div class="col-md-5">
          <div style="padding-top:5px">
            <button class="btn btn-default btn-xs" ng-click="openUploadBibtexWindow()"><img style="width:20px; height:20px"src="/static/img/plus-icon.png"> Upload bibtex file
          </div>
        </div>
      </div>
    </div>
    <uib-tabset>
      <uib-tab heading="Recommended" active="citationTabs['recommended'].active">
        <div class="loading" ng-if="loadingRecommendedEvidence">
          <div class="loader-container">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
        </div>
        <div id="recommendedEvidence" class="citation-container">
          <div class="animate-repeat document-entry row" ng-repeat="e in recommendedEvidence" ng-class="{active: hover || e.id == selectedEvidence.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="selectEvidence(e, 'recommended')">
            <div class="col-md-10">
              <p class="citation-entry"><span>{{$index+1}}. </span><span class="thin-text">{{e.title}}</span></p>
            </div>          
            <div class="col-md-2" style="margin:10px 0 0 0">
              <div class="btn-group btn-group-xs" role="group" ng-if="selectedEvidence===e">
                <button class="btn btn-primary" ng-class="{disabled: selectedParagraph===-1}" ng-click="citeEvidence(e, 'recommended')">Cite</button>
              </div>  
            </div>
          </div>
        </div>        
      </uib-tab>
      <uib-tab heading="Cited" active="citationTabs['cited'].active">
        <div id="citedEvidence" class="citation-container">
          <div class="animate-repeat document-entry row" ng-repeat="e in citedEvidence" ng-class="{active: hover || e.id == selectedEvidence.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-click="selectEvidence(e, 'cited')">
            <div class="col-md-10">
              <p class="citation-entry"><span>{{$index+1}}. </span><span class="thin-text">{{e.title}}</span></p>
            </div>
            <div class="col-md-2" style="margin:10px 0 0 0">
              <div ng-switch on="selectedEvidenceCiteStatus" ng-if="selectedEvidence===e">
                <div ng-switch-when="uncited" class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-primary" ng-class="{disabled: selectedParagraph===-1}" ng-click="citeEvidence(e, 'cited')">Cite</button>
                </div>
                <div ng-switch-when="cited" class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-danger" ng-class="{disabled: selectedParagraph===-1}" ng-click="unciteEvidence(e, 'cited')">Uncite</button>
                </div>
              </div>
            </div>                        
          </div>
        </div>        
      </uib-tab>
      <uib-tab heading="Bookmarked" active="citationTabs['bookmarked'].active">
        <div id="bookmarkedEvidence" class="citation-container">
          <div class="container animate-repeat document-entry" ng-repeat="e in evidence" ng-class="{active: hover || e.id == selectedEvidence.id}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
            <div class="row" ng-click="selectEvidence(e, 'bookmarked')">
              <p class="col-md-10 citation-entry"><span>{{$index+1}}. </span><span class="thin-text">{{e.title}}</span></p>
              <div class="col-md-2" style="padding-top:5px">
                <div ng-if="e.abstract.length===0">
                  <img style="width:15px; height:15px"src="/static/img/warning-icon.png" title="No abstract for this entry.">
                </div>
                <div ng-if="selectedEvidence===e" class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-primary" ng-class="{disabled: selectedParagraph===-1}" ng-click="citeEvidence(e, 'bookmarked')">Cite</button>
                </div>  
              </div>
            </div>          
          </div>
        </div>            
      </uib-tab>
    </uib-tabset>
    <div id="details" style="margin:10px;height:329px">
      <h4>Selected citation</h4>
      <div ng-if="selectedEvidence===null" style="300px">
        <p style="width:70%;margin:auto;padding-top:100px">
          <i>Please select a citation to see its details.</i>
        </p>
      </div>
      <div ng-if="selectedEvidence!==null" style="overflow-y:scroll;height:300px;">
        <div class="row" style="margin:10px">
          <button class="btn btn-default btn-xs col-md-12" ng-class="{'btn-success': showCitingTexts}" ng-disabled="associationInactive('evidence')" ng-click="toggleShowCitingTexts()">Who cited me?</button>
        </div>
        <p>
          <b><span class="small-cap-text">Authors</span></b>: 
          <span class="thin-text">{{selectedEvidence.metadata.AUTHOR}}</span>
        </p>
        <p>
          <b><span class="small-cap-text">Affiliation</span></b>: 
          <span class="thin-text">{{selectedEvidence.metadata.AFFILIATION}}</span>
        </p>
        <p>
          <b><span class="small-cap-text">Publication date</span></b>: 
          <span class="thin-text">{{selectedEvidence.metadata.DATE}}</span>
        </p>
        <p><b><span class="small-cap-text">Abstract</span></b>:</p>
        <span style="font-size:13px" ng-repeat="w in selectedWords track by $index" ng-class="{'is-topic-term': isTopicTerm(w)}">{{w}} </span>
      </div>
  </div>
</div>