<div ui-view="MainView">
  <div class="v2" id="init-info">
    <div class="row" style="margin:10px">
      <div class="col-md-2"><label>User ID</label></div>
      <div class="col-md-10"><input type="text" class="form-control" ng-model="userId"></input></div>
    </div>
    <div class="row" style="margin:10px">
      <div class="col-md-2"><label>Collection</label></div>
      <div class="col-md-10">      
        <ui-select ng-model="selected.collection" on-select="selectCollection($item)">
            <ui-select-match placeholder="Select a collection">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="t in (collections | filter: $select.search) track by t.id">
                <span ng-bind="t.name"></span>
            </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div style="margin:30px auto auto 20px">
      <button class="btn btn-default" ui-sref-active="btn-success" ui-sref="v2.explore({userId: userId, collectionId: selected.collection.id})">Explore literature collection</button>
      <button class="btn btn-default" ui-sref-active="btn-success" ui-sref="v2.focus({userId: userId, collectionId: selected.collection.id})">Write</button>
    </div>
  </div>
</div>