<div class="center row" id="v1">
  <!-- List of saved arguments -->
  <div class="main col-md-10">
    <div class="panel" id="texts-col">
      <div class="header">
        <span>Arguments</span>
      </div>
      <div class="body row">
        <div class="index col-md-3">
          <div style="height:90%"> 
            <table class="table">
              <tr ng-repeat="t in texts | filter:filterColumn('text')" ng-class="{active: hover || t.id == selectedEntry['text'].id, success: showCitingTexts && cites(t, selectedEntry['evidence'])}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                <td ng-click="selectEntry(t, 'text')">
                  <p>{{t.title}}</p>
                  <svg class="topic-info" id="topic-info-{{t.id}}" width="150" height="25"></svg>
                  <div ng-if="selectedEntry['text']===t" style="margin-left:80%">
                    <div class="btn-group btn-group-xs" role="group">
                      <button class="btn btn-danger" ng-disabled="selectedEntry['text']===null" ng-click="deleteEntry('text')">Delete</button>
                    </div>  
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" ng-click="addTextEntry()"><img style="width:20px; height:20px"src="/static/img/plus-icon.png">Add new argument</button>
          </div>
        </div>
        <!-- Text area for current argument -->
        <div class="content col-md-5">
          <textarea class="form-control" id="textContent" ng-model="activeText" ng-keypress="startMakingChanges()">
          </textarea>
          <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-primary" ng-disabled="!hasUnsavedChanges" ng-click="saveTextEntry()">Save</button>
            <button class="btn btn-default" ng-disabled="selectedEntry['text']===null" ng-click="extractTerms()">Extract terms</button>
            <button class="btn btn-default" ng-disabled="selectedEntry['text']===null" ng-click="recommendCitations()">Recommend citations</button>
          </div>
        </div>
        <!-- Display of extracted keywords -->
        <div class="side col-md-4">
          <div style="height:90%;padding:20px">
            <div class="col-md-6 padding-sm" ng-repeat="t in terms | filter:filterTerms()">
              <button class="btn btn-default btn" ng-class="{'btn-primary': termSelected(t)}" ng-click="selectTerm(t)">{{t.term}}</td>
            </div>
          </div>
          <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" ng-click="addTerm()"><img style="width:20px; height:20px"src="/static/img/plus-icon.png">  Add highlighted texts as new term</button>
            <button class="btn btn-default" ng-disabled="selectedTerms.length===0" ng-click="searchEvidenceForTerms()">Search evidence</button>
          </div>
        </div>   
      </div>
    </div>
    <!-- List of evidence -->
    <div class="panel" id="evidence-col">
      <div class="loading" ng-if="loadingEvidence">
        <div class="loader-container">
          <div class="loader"></div>
          <div class="loading-text"><p>{{loadingStatement}}</p></div>
        </div>
      </div>
      <div class="header">
        <span>Evidence</span>
      </div>
      <div class="body row">
        <div class="col-md-3" id="topics">
          <div ng-repeat="t in topics" class="topic-container" ng-class="{selected: $index == selectedTopic}" ng-click="selectTopic($index)" ng-attr-id="topic-container-{{$index+1}}">
            <p style="margin:0"><span ng-repeat="w in t">{{w}}  </span></p>
            <p style="margin-left:90%"><img  src="/static/img/text-icon.svg" style="width:15px; height:15px"></img><span> {{countEvidenceWithTopic($index)}}</span></p>
          </div>
        </div>
        <div class="col-md-5" id="documents">
          <div>
            <div class="animate-repeat document-entry" ng-repeat="e in evidence | filter:filterEvidence() | orderBy:evidenceOrder" ng-class="{active: hover || e.id == selectedEntry['evidence'].id, associated: isAssociated(e, selectedEntry['text'])}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
               <div ng-click="selectEntry(e, 'evidence')" style="width:90%;display:inline-block;float:left">
                 <p><input type="checkbox" ng-model="evidenceSelectionMap[e.id]"><span> {{e.title}}</span></p>
                 <p>
                   <span><i>Search term occurrence:</i></span>
                   <span ng-repeat="t in selectedTerms"><b>{{t.term}}</b>: {{countSearchTermOccurrence(t.term, e.abstract)}}  </span>
                 </p>
               </div>
               <div style="width:10%;display:inline-block">
                 <div ng-if="evidenceSourceMap[e.id] === 1">
                   <img  src="/static/img/link-icon.svg" style="width:15px; height:15px"></img>
                   <span>{{countTextsReferencingEvidence(e)}}</span>
                 </div>
                 <div ng-if="evidenceSourceMap[e.id] === 0"><span class="label label-default">Search result</span></div> 
               </div>
               <div style="clear:both"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4" id="details">
          <div ng-if="selectedEntry['evidence']!==null">
            <div class="row" style="margin:10px">
              <button class="btn btn-default btn-xs col-md-12" ng-class="{'btn-success': showCitingTexts}" ng-disabled="associationInactive('evidence')" ng-click="toggleShowCitingTexts()">Who cited me?</button>
            </div>
            <p><b>Authors</b>: {{selectedEntry['evidence'].metadata.AUTHOR}}</p>
            <p><b>Affiliation</b>: {{selectedEntry['evidence'].metadata.AFFILIATION}}</p>
            <p><b>Publication date</b>: {{selectedEntry['evidence'].metadata.DATE}}</p>
            <p><b>Abstract</b>:</p>
            <span ng-repeat="w in selectedWords track by $index" ng-class="{'is-search-term': isSearchTerm(w), 'is-topic-term': isTopicTerm(w)}">{{w}} </span>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-default" ng-click="addEvidenceEntry()">Add</button>
          <button class="btn btn-default">Edit</button>
          <button class="btn btn-primary" ng-disabled="selectedEntry['evidence']===null||selectedEntry['text']===null" ng-click="updateEvidenceAssociation()" title="Mark this publication as relevant to the selected article">{{evidenceTextAssociated ? 'Mark as irrelevant' : 'Mark as relevant'}}</button>
          <button class="btn btn-danger" ng-disabled="selectedEntry['evidence']===null" ng-click="deleteEntry('evidence')">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar col-md-2">
    <div class="panel">
      <div class="header">
        <span>Control panel</span>
      </div>
      <div class="body">
        <div style="margin:10px 0 10px 0">
          <h5>Import references</h5>
          <div>
            <div style="margin:10px"><input type="file"id="bibtex-input"></div>
            <div style="margin:10px"><button class="btn btn-primary btn-xs" ng-click="processBibtexFile()">Upload</button></div>
          </div>
        </div>
        <div style="margin:10px 0 10px 0">
          <h5>Export</h5>
          <div class="row" style="margin:0 10px 0 10px">
            <button class="btn btn-default btn-xs col-md-5">Documents</button>
            <span class="col-md-1"></span>
            <button class="btn btn-default btn-xs col-md-5">References</button>
            <span class="col-md-1"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>