<div class="modal-header">
    <h3>Add new texts</h3>
</div>
<div class="modal-body">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" ng-model="textsInfo.title"/>
  <label for="content">Content</label>  
  <textarea class="form-control" id="content" ng-model="textsInfo.content"></textarea>
  <table class="table">
    <tr ng-repeat="c in concepts | filter:isAssociated('concept')">
      <td>{{c.term}}</td>
    </tr>
  </table>
  <div ng-switch on="uploadStatus">
    <div ng-switch-default class="container" style="width:100%;margin:10px;">
      <div class="row">
        <div class="col-md-8" style="padding-top:4px;"><input type="file"id="textfile-input"></div>
        <div class="col-md-4">
          <button class="btn btn-primary btn-sm" ng-click="processTextFile()">Upload</button>
        </div>
      </div>
    </div>
    <div ng-switch-when="uploading">
      <div class="alert alert-info">
        <p>Uploading proposal file...</p>
      </div>
    </div>
    <div ng-switch-when="uploaded-success">
      <div class="alert alert-success">
        <p>All {{totalToUpload}} entries uploaded.</p>
        <p>Found and added {{totalAbstractFound}} abstracts from PubMed.</p>
      </div>
    </div>
    <div ng-switch-when="uploaded-failed">
      <div class="alert alert-danger">
        <p>Encountered more than 10 upload failure. Upload aborted. Please notify admin at hua_guo@brown.edu about the issue if it persists.</p>
      </div>
    </div>
  </div>

<!--  <select ng-model="selectedConcept" ng-options="c.term for c in concepts">
    <option value="">-- choose concept --</option>
  </select>
  <button class="btn btn-xs" ng-click="addAssociatedConceptLocally()">Add</button> -->
<!--  <select class="form-control" ng-model="selectedEvidence" ng-options="e.title for e in evidence">
    <option value="">-- choose evidence --</option>
  </select> 
  <button class="btn btn-xs">Add</button> -->
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">Save</button>
</div>